    
  <!--Section: Features v.3-->
  <section  class="pt-5">
     
    <!--Section heading-->
    <h1 class="py-5 font-weight-bold text-center pb-1 " >Sujet de discussion</h1>
  
  <!-- Login Form -->
    <div class="  d-flex justify-content-center">
    <div class="col-lg-5 text-center text-lg-left " >
        <div class="card-body z-depth-2 ">
            <!--Header-->
            <div class="text-center">
                <h3 class="dark-"><strong>Nouveau Sujet</strong></h3>
                <hr>
            </div>
            <!--Body-->
            <!-- Horizontal material form -->
            <form>
                <!-- Grid row -->
                <div class="form-group row">
                    <!-- Material input -->
                    <div class="col-sm-10">
                            <label for="inputLGEx"><h5>Titre</h5></label>
                       <!-- Large input -->
                
                            <input type="text">
                      
                    </div>
                </div>
                <!-- Grid row -->

                <!-- Grid row -->
            
                    <!-- Material input -->
                    <label for="inputLGEx"><h5>Description</h5></label>
                    <!--Textarea with icon prefix-->
                
                        <textarea type="text" rows="5"></textarea>
                 

                <!-- Grid row -->

                <!-- Grid row -->
<!--                 
                            <label for="inputLGEx"><h5>Upload Photo</h5></label><br>
                            
                            <input mdbActive  type="file"  uploader="uploader" multiple="" class=" btn-primary btn-md">
                              -->
                              <!-- <input class mdbActive  type="file" ngf-select ng-model="file" name="file" 
                              ngf-pattern="'image/*'"accept="image/*" ngf-max-size="20MB" class=" btn-primary btn-md" />
 -->
                                <!-- <input type="file" name="file" id="file" class="inputfile" ngf-select ng-model="file" name="file" 
                                ngf-pattern="'image/*'"accept="image/*" ngf-max-size="20MB"  /> -->
                                <input type="file" name="file" id="file" class="inputfile" 
                                (change)="onFileSelected($event)"
                                ngf-pattern="'image/*'"accept="image/*" ngf-max-size="20MB"  />
                                <i class="fa fa-file-photo-o" aria-hidden="true"></i>
                                <label for="file">Choose File</label>
                                <button (click)="onUpload()" class=" btn-primary btn-md">upload</button>

                            <br><br>
                              
                                <button type="submit" class="btn btn-primary btn-md">Ajouter</button>
          

            </form>
            <!-- Horizontal material form -->
           
        </div>
    </div>  
    </div>
  
  </section>