
 <!--Projects section v.3-->
 <section>
        
  <!--Section heading-->
  <h2 class="text-center h1 my-5">
      <strong>Liste des Feedbacks
        <i class="fa fa-hand-o-up" aria-hidden="true"></i>
        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
      </strong>
  </h2>
  <!--Section description-->
    
        <p class="px-xl-5 text-center grey-text mb-5">
            La rétroaction (en anglais feedback) est l’action en retour d’un effet sur l'origine de celui-ci : la séquence de causes et d'effets forme donc une boucle dite boucle de rétroaction
            <!--Grid row-->
            <div class="custom">
        <div class="row"  *ngFor="let feedback of feedbackList"  >
            <!--Grid column-->
            <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">
                <!--Grid row-->
                <div class="row mb-3">
                    <div class="col-1 mr-1">
                        <i class="fa fa-book fa-2x cyan-text"></i>
                    </div>
                    <div class="col-10"><h5 class="font-weight-bold">Feedback</h5>
                    <p>{{feedback.about}}</p>
                    </div>
                </div>
                <hr>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row mb-3">
                    <div class="col-1 mr-1"></div>
                        <div class="col-10 " >
                        <!-- Default input -->
                        <p>
                                <i class="fa fa-code fa-2x white-text"></i>
                                Reponse de l'admin :{{feedback.reponse}} </p>

                            <!-- <label for="exampleForm2">Reponse</label> -->
                            <!-- <input type="text" id="exampleForm2" class="form-control" [(ngModel)]="reponse"> -->
                            
                            <input type="text" id="exampleForm2" class="form-control" placeholder="Repondre..." (keyup.enter)="addResponse(feedback.$userkey)" [(ngModel)]="reponse" />

                        </div>
                        <!-- <button type="button" class="btn btn-danger" (click)="addResponse(feedback.$userkey)" >Add response</button> -->
                    </div>
                    <!--Grid row-->
                </div>
                <!--Grid column-->
            </div>
    </div>        
    <!--Grid row-->
    <hr>
  
  
</section>
<!--Projects section v.3-->
          