<!-- <form #sujetForm="ngForm" (ngSubmit)="onSubmit(sujetForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="sujetService.sujetSelectione.$key">

<div class="form-group">
    <label>Title</label>

    <div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
  <input type="text" name ="title" class="form-control" #title="ngModel" [(ngModel)]="sujetService.title" placeholder="Titre du sujet" required>
</div>
</div>

<div class="form-group">
  <label>Description</label>
  <div class="input-group">
  <div class="input-group-addon">
      <i class="fa fa-pencil"></i>
    </div>
  <textarea name ="description" class="form-control" #description="ngModel" [(ngModel)]="sujetService.description" placeholder="Description du sujet"></textarea>
</div></div>

<div class="form-group">
    <label>Image src</label>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-image"></i>
    </div>
    <input name ="imgsrc" class="form-control" #imgsrc="ngModel" [(ngModel)]="sujetService.imgsrc" placeholder="Image pour sujet">
  </div>
</div>

<div class="form-group"> -->
  <!-- disable button when form not valid -->
    <!-- <button class="btn btn-default" type="submit" [disabled]="!sujetForm.valid">
      <i class="fa fa-floppy-o"></i>
       Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(sujetForm)">
      <i class="fa fa-repeat"></i>
       Reset</button>
  </div>
</form> -->

<!--Section: Features v.3-->
<section  class="pt-5">
  <!--Section heading-->
  <h1 class="py-5 font-weight-bold text-center pb-1 " >Sujet de discussion</h1>
  <!-- Login Form -->
  <div class="  d-flex justify-content-center">
    <div class="col-lg-5 text-center text-lg-left " >
      <div class="card-body z-depth-2 ">
        <!--Header-->
        <div class="text-center">
          <h3 class="dark-"><strong>Nouveau Sujet</strong></h3>
          <hr>
        </div>
        <!--Body-->
        <!-- Horizontal material form -->
        <form #sujetForm="ngForm" (ngSubmit)="onSubmit(sujetForm)">
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="sujetService.sujetSelectione.$key">
            <!-- Grid row -->
            <div class="form-group row">
              <!-- Material input -->
              <div class="col-sm-10">
                <label for="inputLGEx"><h5>Titre</h5></label>
                <!-- Large input -->
                <input type="text" name ="title" class="form-control" #title="ngModel" [(ngModel)]="sujetService.title" required>
              </div>
            </div>
            <!-- Grid row -->
            <!-- Material input -->
            <label for="inputLGEx"><h5>Description</h5></label>
            <!--Textarea with icon prefix-->
            <textarea name ="description" class="form-control" #description="ngModel" [(ngModel)]="sujetService.description"></textarea>
            
                <!-- Grid row -->
<!--                 
  <label for="inputLGEx"><h5>Upload Photo</h5></label><br>
  <input mdbActive  type="file"  uploader="uploader" multiple="" class=" btn-primary btn-md">
                              -->
                              <!-- <input class mdbActive  type="file" ngf-select ng-model="file" name="file" 
                              ngf-pattern="'image/*'"accept="image/*" ngf-max-size="20MB" class=" btn-primary btn-md" />
 -->
                                <!-- <input type="file" name="file" id="file" class="inputfile" ngf-select ng-model="file" name="file" 
                                ngf-pattern="'image/*'"accept="image/*" ngf-max-size="20MB"  /> -->
                                
                                
                                <!-- <i class="fa fa-file-photo-o" aria-hidden="true"></i>
                                <label for="file">Choose File</label>
                                <input type="file" class="inputfile" 
                                (change)="onFileSelected($event)"
                                ngf-pattern="'image/*'"accept="image/*" ngf-max-size="20MB"  
                                name ="imgsrc" class="form-control" #imgsrc="ngModel" [(ngModel)]="sujetService.imgsrc"
                                /> -->
                               
                                <!-- <button (click)="onUpload()" class=" btn-primary btn-md"
                                >upload</button> -->
                                <label for="inputLGEx"><h5>Photo to upload</h5></label>
                                <input name ="imgsrc" class="form-control" #imgsrc="ngModel" [(ngModel)]="sujetService.imgsrc" placeholder="Image pour sujet">
                                <label for="inputLGEx"><h5>Photo URL</h5></label>
                                <input name ="imgname" class="form-control" #imgname="ngModel" [(ngModel)]="sujetService.imgname" placeholder="URL de l'Image du sujet">

                            <br><br>
                              
                                <!-- <button type="submit" class="btn btn-primary btn-md">Ajouter</button> -->
                                 <!-- disable button when form not valid -->
    <button class="btn btn-primary" type="submit" [disabled]="!sujetForm.valid">
            <i class="fa fa-floppy-o"></i>
             Ajouter</button>
          <button class="btn btn-default" type="button" (click)="resetForm(sujetForm)">
            <i class="fa fa-repeat"></i>
             Reset</button>

            </form>
            <!-- Horizontal material form -->
           
        </div>
    </div>  
    </div>
  
  </section>