<!--  -->

    <!--Section: Features v.3-->
    <section  class="pt-5">
        
    <div *ngIf="authService.user | async">
        <div class="content" >Welcome {{ (authService.user | async)?.email }}!</div>
  
        <section class="one">
          <div class="wrapper"></div>
        </section>
      
      <section class="two">
        <div class="wrapper"></div>
      </section>
      
      <section class="three">
        <div class="wrapper"></div>
      </section>
      
      <section class="four">
        <div class="wrapper"></div>
      </section>
      </div>
    </section>
