



<!-- button  annonces signalées -->
<section>
<!-- *ngFor="let feedback of feedbackList"  -->

<div *ngFor="let annonce of annonceList"  >
<!-- Card Dark -->
<div class="card">

  

  <!-- Card content -->
  <div class="custom">
  <div class="card-body elegant-color white-text rounded-bottom">


     <div class="d-flex flex-row-reverse">
        <div class="p-2"> 
            <!-- Social shares button -->
            <button class="btn btn-default-outline"  type="button" (click)="delete(annonce)"> Delete
                <i class="fa fa-trash white-text" ></i>
                 </button>
          </div>
      <div class="p-2"> 
        <!-- Social shares button -->
        <button class="btn btn-default-outline"  type="button" (click)="add(annonce)"> Majorer
            <i class="fa fa-star blue-text" ></i>
             </button>
      </div>
      <div class="p-2"> 
          <!-- Social shares button -->
          <button class="btn btn-default-outline" type="button" (click)="sous(annonce)">Minorer
              <i class="fa fa-star red-text"></i>
               </button>
        </div>
        
    </div>   
    <!-- Title -->
    <h4 class="card-title">{{annonce.titleAnnonce}} , Type: {{annonce.typeAnnonce}}</h4>
    <hr class="hr-light">
    <!-- Text -->
    <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- Link -->
    <!-- Card image -->
   <div class="view overlay">
    <img class="card-img-top" src="{{annonce.URLimg}}" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div> 


    
  </div>

</div>
</div>
</div>
<!-- Card Dark -->
            
</section>