.custom{
    // background-color: rgba(255,255, 255, 0.3);
}
section{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;

}
img{
    align-content: center;
    width: 50%;
    height: 50%;
}